.RecentEvents-container{
  display: grid;
  grid-template-columns:auto auto auto;
  align-items: center;
  justify-content: center;

}

.a{
  list-style: none;
}

.item{
  height:44vh;
  width:30.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background:white;
  color: white;
  padding: 0;
}


@media only screen and (max-width: 768px) {
    .recentEventsMargin{
      margin-right: 20px;
    }

}

@media only screen and (max-width: 768px) {

    .item, .item1 ,.item2{
      width:30vw;
      height:40vh;
      margin:0;
    }
}
@media only screen and (max-width: 426px) {
    .RecentEvents-container{
        grid-template-columns: 100%;
    }
    .item, .item1 ,.item2{
      width:80vw;
      height:45vh;
      margin:0;
      margin-top: 20px;
    }
}
