@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.floatCard {
  width: 270px;
  align-items: baseline;
}

.txt {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.num1 {
  color: #ff9800;
  font-size: 2em;
}

.num2 {
  color: #8bca4e;
  font-size: 2em;
}
