/* .counter-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  height: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 6px 0px;
} */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.fl {
  float: left;
  _display: inline;
}

.w-100 {
  width: 100%;
}

.bg-black-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-black-10 {
  background-color: rgba(0, 0, 0, 0.1);
}

.bg-black-05 {
  background-color: rgba(0, 0, 0, 0.05);
}

.pv5 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.tc {
  text-align: center;
}

@media screen and (min-width: 30em) {
  .w-20-ns {
    width: 20%;
  }
}
