.lh-copy {
    line-height: 2;
}

.pa3 {
    padding: 1rem;
}

.mt0 {
    margin-top: 0;
}


.center {
    margin-right: auto;
    margin-left: auto;
}

 .inputBox input[type="submit"]
{
  width: 120px;
  background-color:  #e88f0a;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.2s;
}

@media screen and (min-width: 30em) {
    .mw7-ns {
        max-width: 48rem;
    }

}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
    margin:1rem;
}

.fl {
    float: left;
    display: inline;
}


.text{
    padding-left: 2rem;
    padding-right:2rem;
}


.imgText{
    width:50%;
}
.imgCenter{
  display: block;
  margin: auto 0;
  justify-content: center;

}

.coupon-div{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    height: auto;
     width: 80vw;
     background-image: linear-gradient(316deg, #ff9100 0%, #ffbe0b 74%);

}
.coupon-left{
    width:70%;
}
.coupon-button{
    width:20%;
}
@media screen and (max-width: 768px) {

    .coupon-div{
        display: flex;
        flex-direction: column;
        width: 95vw;
    }
    .coupon-left{
        width:90%;
    }
    .coupon-button{
        width:50%;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1025px) {
    .imgText{
        width:100%;
        padding: 0;
    }
    .text{
        padding-top: 1rem;
    }


    .aboutButton{
    display: flex;
    justify-content: center;
    text-decoration: none;

    }
      .coupon-button button{
        font-size: 1em;
        padding: 0.7em;
      }
      .coupon-button{
        margin-right:20px;
      }

}
@media screen and (max-width: 426px){
  .coupon-button button{
    font-size: 1em;
    padding: 0.7em;
  }
  .coupon-button{
    padding: 0;
  }
  .coupon-button h3{
    text-align: center;
  }
  .shopNowButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
