.lh-copy {
    line-height: 1.5;
}

.pa3 {
    padding: 1rem;
}

.mt0 {
    margin-top: 0;
}


.center {
    margin-right: auto;
    margin-left: auto;
}

 .inputBox input[type="submit"]
{
  width: 120px;
  background-color:  #ff8c00;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.2s;
}

@media screen and (min-width: 30em) {
    .mw7-ns {
        max-width: 48rem;
    }

}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
    margin:1rem;
}

.fl {
    float: left;
    display: inline;
}


.text{
    padding-left: 2rem;
    padding-right:2rem;
}


.imgText{
    width:50%;
}

@media screen and (max-width: 800px) {
    .imgText{
        width:100%;
    }
    .text{
        padding-top: 1rem;
    }

    .aboutButton{
    display: flex;
    justify-content: center;

    }
}
