.lh-copy {
    line-height: 1.5;
}

.pa3 {
    padding: 1rem;
}

.mt0 {
    margin-top: 0;
}

.topText{
    text-align: center;
}


.center {
    margin-right: auto;
    margin-left: auto;
}

 .inputBox input[type="submit"]
{
  width: 120px;
  background-color:  #ff8c00;
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.2s;
}

@media screen and (min-width: 30em) {
    .mw7-ns {
        max-width: 48rem;
    }

}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
    margin:1rem;
}

.fl {
    float: left;
    display: inline;
}

.w-50 {
    width: 50%;
}

.abs{
    max-width:100%;
}


.text{
    
    padding-left: 2rem;
    padding-right:2rem;
}

.abouttext{
     display: flex;
     flex-direction: row;
}


@media screen and (max-width: 800px) {
    .abouttext{
        display:flex;
        flex-direction: column;
    }
    .text{
        padding-top: 1rem;
    }

    .aboutButton{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    }
} 

