.cards {
  display: grid;
  grid-gap: 6rem;
  justify-content: center;
  align-items: start;
  margin-bottom: 2vh;
  grid-template-columns: repeat(auto-fit, minmax(5fr));
}

.card-item {
  overflow: hidden;
}

.card-footer {
  display: flex;
  margin: auto;
}

.image {
  object-fit: cover;
}

.supporters h4 {
  margin-bottom: 0px;
  text-align: left;
}

.learn-more h4 {
  margin-bottom: 0px;
}

@media only screen and (max-width: 60em) {
  .cards {
    padding: 3rem;
  }

  .cards {
    grid-gap: 3em;
  }
}
