.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 10rem;
  overflow: auto;
}

.card {
  min-width: 25%;
  height: 100%;
  margin: 1rem 2rem;
}

.card-footer {
  display: inline-flex;
  margin: auto;
}

.supporters h4 {
  margin-bottom: 0px;
  text-align: left;
}

.learn-more h4 {
  margin-bottom: 0px;
  text-align: right;
}
