.btn {
  text-decoration: none;
  background-color: white;
  color: #e88f0a;
  text-align: center;
  border-color: #e88f0a;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.5s;
}

.btn:hover {
  background-color: #e88f0a;
  color: white;
}

.ourButtons {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .ourButtons {
    display: flex;
    flex-direction: column;
  }
}

/* Join Us */
.join-box {
  width: 100%;
  height: 25vh;
  background: url("JOIN_US.png") no-repeat center center/cover;
  color: white;
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  align-items: center;
}

.join-head {
  margin-left: 20%;
}

@media only screen and (max-width: 426px) {
  .join-box {
    grid-template-columns: 100%;
    height: auto;
  }
  .button-div {
    padding-left: 26%;
    padding-bottom: 4%;
  }
  .join-head {
    padding: 2%;
  }
}

@media only screen and (max-width: 769px) {
  .join-box {
    height: auto;
  }
}
/* \\\cards CSS */
.newcard {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 500px;
  padding: 0px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
.newcard:hover {
  box-shadow: 9px 10px 21px -10px rgba(0, 0, 0, 0.83);
  -webkit-box-shadow: 9px 10px 21px -10px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: 9px 10px 21px -10px rgba(0, 0, 0, 0.83);
}

.cardImg {
  height: 30vh;
  width: 100%;
}

.lastLine {
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
}
.skill-bar {
  height: 10px;
  background-color: #cacaca;
  border-radius: 8px;
}
.skill-per {
  height: 10px;
  background-color: #e88f0a;
  border-radius: 8px;
  width: 50%;
}
.cardBottom p {
  color: #666;
}
.cardBottom p b {
  color: black;
}
.Detail {
  padding-top: 10px;
}
.Detail p {
  padding-bottom: 10px;
  padding-top: 30px;
}

.cardBottom {
  padding: 16px;
}

.lastLine {
  display: flex;
  justify-content: space-around;
}

.cardImg {
  border-radius: 10px;
}

.cardButton {
  color: white;
  width: 40%;
  margin-top: 25px;
  background-color: #ff8c00;
}
.LearnColor {
  color: #ff8c00;
}
@media only screen and (max-width: 390px) {
  .cardButton {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .newcard {
    width: 100%;
    height: 50%;
  }

  .lastLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
