.btn
{
	text-decoration: none;
	background-color: white;
	color: #e88f0a;
	text-align: center;
	border-color: #e88f0a;
	font-size: 1.2rem;
	font-weight: bold;
	transition: 0.5s;
}

.btn:hover
{
	background-color: #e88f0a;
	color: white;
}

.ourButtons{
	display: flex;
	flex-direction: row;
}

@media screen and (max-width:600px)
{
	.ourButtons{
		display: flex;
		flex-direction: column;
		
	}
}

