.project-titles{
    list-style: none;
    text-decoration: none;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    line-height: 1.5;
    
}

.donation-Images {
    width: 50%;
    padding: 40px;
    object-fit: cover;
  }


  .donate-text {
    position: relative;
    bottom: 25%;
    left: 35%;
    background: rgba(240, 152, 46, 0.7);
    color: white;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    width: 70%;
    line-height: 1.5;
  }

  .projectsUnderline {
    text-decoration: none;
    padding: 4px;
    color: black;
    font-size: 20px;
  }
  
  .projectsUnderline:after {
    content: "";
    display: flex;
    position: absolute;
    background-color: #f0982e;
    height: 3px;
    width: 0;
    transition: 0.3s;
  }
  
  .projectsUnderline:hover:after {
    width: 10%;
  }

  .donationAmount {
    padding: 50px;
  }
  
  .donationAmountList {
    padding: 20px;
    list-style: none;
  }

  .donateTextbox {
    border-width: 8px;
    border-style: solid;
    border-color: #f0982e;
    outline: none;
  }

@media screen and (max-width:768px){
    .project-titles{
        list-style: none;
        text-decoration: none;
        display:flex;
        flex-direction: column;
        align-items:center;
        line-height: 1.5;
    }

    .donationBox{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    
    .donation-Images{
    height:auto;
    display:flex;
    flex-direction:column;
    width:70%;
    padding:0;
    }
    .donate-text{
        width:fit-content;
        left:10%;
        bottom:5rem; 
    }
}