.project-titles {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 1.5;
}

.donation-Images {
  width: 28%;
  object-fit: cover;
  line-height: 1.5;
}

.donate-text {
  position: relative;
  background: rgb(255, 255, 255);
  padding:15px;
  width: 100%;
  line-height: 1.5;
}

 .projectsUnderline {
  text-decoration: none;
  padding: 4px;
  color: white;
  font-size: 25px;

}
.projectsUnderlineColor {
 text-decoration: none;
 padding: 4px;
 font-size: 25px;
 cursor: pointer;
}

.donateActive{
  color:white;
  background: #f0982e;
  
}


.active{
  text-decoration: none;
  padding: 4px;
  font-size: 20px;
  color:#f0982e;
  font-weight: bold;
  
}

.donationAmount {
  padding: 40px;
}

.donationAmountList {
  padding: 20px;
  list-style: none;
}

.donateTextbox {
  border-width: 3px;
  border-style: solid;
  border-color: #f0982e;
  outline: none;
  height: 8%;
}

.hover-btn:hover{
  background-color: #e88f0a;
  color: white;
  font-weight: bold;
}

.placeholder::placeholder{
  text-align: center;
}

@media screen and (max-width:768px) {
  .project-titles {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
  }

  .donationBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
  }
  .donationAmount{
    padding:0;
  }

  .donation-Images {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    text-align:center;
  }

  .donate-text {
    width: fit-content;
    left: 10%;
    bottom: 5rem;
  }
}

/* DonationForm CSS */
.donationForm {
  width: 100%;
  padding: 20px;
  
  justify-content: center;
  align-items: center;
}

.donationModalButton {
  border-color: #ff8c00;
  background-color: #ff8c00;
}

.donationModalButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.6;
}

.donationForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.donationForm .inputBox {
  position: relative;
  width: 50%;
  margin:auto;
  
}

.donationForm .inputBox input::placeholder{
  color:white;
}

.donationForm .inputBox input,
.donationForm .inputBox input {
  width: 100%;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  margin: 10px 0;
  border: none;
  background: #ffffff59;
  border-bottom: 2px solid #ff8c00;
  border-radius: 8px;
  outline: none;
  resize: none;
}

.donationForm .inputBox span {
  position: absolute;
  left: 0;
  color:white;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  /* color: #666; */
}

.donationForm .inputBox input:focus~span,
.donationForm .inputBox input:valid~span,
.donationForm .inputBox input:focus~span,
.donationForm .inputBox input:valid~span {
  color: #ff8c00;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact .inputBox input[type="submit"] {
  width: 100px;
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.2s;
}

.contact .inputBox input[type="submit"]:hover {
  background-color: #ff8c00;

  color: white;
}

.modalHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  padding: 0;
  margin: 0;
}

.modalHeader h2{
  color:white;
}

.modalcloseButton {
  font-size: 1.5rem;
}

.modalcloseButton:hover {
  color: #ff8c00;
  cursor: pointer;
  border-radius: 5px;
  border-style: solid;
  border-color: #ff8c00;
}

.donation-top-image {
  height:40vh;
  width: 100%;
  object-fit: fill;
  background-blend-mode: darken;
  margin: 0;
  padding: 0;
}

.donationForm .inputBox input[type="submit"] {
  width: 100px;
  background-color: #ff8c00;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.2s;
}



@media screen and (max-width:320px) {
  .donationForm {
    width: 100%;
    padding: 10px;
  }
  .donateDiv{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  .donateTextbox{
    margin: 0;
  }
}

@media screen and (min-width: 720px) {
  .donationForm {
    padding: 10px;
  }
}


@media screen and (max-width: 720px) {
  .donationForm {
    width: 100%;
    padding: 10px;
  }
  .donationAmount{
    padding: 0;
    margin: 0;
    text-align: center;

  }
  .donationForm .inputBox {
    width:90%;
    padding:10px;
  }
  .donateTextbox{
    align-content: center;
  }
 .donationModalButton{
   margin-bottom: 10px;
 }
}
