.list-style-none {
  text-decoration-color: black;
  text-decoration: none;
  list-style: none;
}

.hamburger {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 15px;
}
.line {
  width: 33px;
  background-color: rgb(0, 0, 0);
  height: 4px;
  margin: 5px 3px;
}

.hamburger {
  display: none;
}

.crossNavbar {
  display: none;
  color: black;
  border-radius: 4px;
  border-style: solid;
  border-color: #e88f0a;
}

/* Submenu */
.sub-menu {
  border-radius: 5px;
  list-style: none;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
  left: 0;
  margin-top: 10px;
}

.linkInitiatives{
  list-style: none;
  text-decoration: none;
}

.menu {
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.sub-menu li {
  padding: 1rem;
}

.sub-menu-item {
  border-radius: 3px;
  color: black;
  list-style-type: none;
}

.sub-menu-item:hover {
  color: #e88f0a;
}

.menu:hover {
color:#e88f0a;
}
.acName{
  font-weight:bold;
  color:#e88f0a;
}
.nav-donate{
  text-decoration: none;

}

.menu:hover .sub-menu {
  display: block;
}

@media only screen and (max-width: 800px) {
  .crossNavbar {
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  .nav-donate{
    margin-bottom: 10px;
  }
  .navbarContents-resp {
    flex-direction: column;

  }
  .hidden {
    display: none;
  }
  .visible {
    display: block;
    line-height: 2rem;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .hamburger {
    display: block;
  }
  .hide {
    display: none;
  }
  .line {
    display: block;
  }

  /* Submenu */
  .menu {
    float: none;
    line-height: 2rem;
    width: 100%;
    background-color: inherit;
    padding: 0;
    margin: 0;
  }

  .sub-menu {
    position: relative;
    background-color: inherit;
    box-shadow: none;
  }

  .sub-menu li {
    padding: 0.25rem;
  }
}
