.navbarIcon{
    float: left;
}
.w-100 {
    width: 100%;
}

.iconStyling{
    width: 56px;
    height:48px;
}
.pa3 {
    padding-top: 8px;
    padding-bottom:8px;
}

.navbarContents{
    display:block;
    float:right;
}

.navButton{
    color:black;
    background-color: orange;
}
@media screen and (min-width: 30em) {


    .mr4-ns {
        margin-right: 2rem;
    }

    .f5-ns {
        font-size: 1rem;
    }
}

