.whatsappHover:hover{
  color:#25D366;
}
.instagramHover:hover{
  background: linear-gradient( #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.twitterHover:hover{
  color:  #00aced;
}
.linkedinHover:hover{
  color: blue;
}
.gmailHover:hover{
  color:#dd4b39;
}
.youtubeHover:hover{
  color: red;
}
