.body{
    font-family: poppins;
    margin: 0;
    display: grid;
    font-size: 14px;
}

footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
    color: #fff;
    background-color:#323232;
}
.footer > *{
    flex: 1 100%;
}
.footer-left{
    margin-left: 1.25em;
    margin-bottom: 2em;
}
.footer-left img{
    width: 20%;
}
.h2>a{
    font-weight: 600;
    font-size: 17px;
    color: white;
}
.footer ul{
    list-style: none;
    padding-left: 0;
    display: contents;
}
.footer li{
    line-height: 2em;
    text-align: center;
}
.footer a{
    text-decoration: none;
}
.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-flow: row-wrap;

}
.footer-right > *{
    flex:1 50%;
    margin-right: 1.25em;
}
.box a{
    color:#ffffff;
}

.footer-left p{
    padding-right: 20%;
    color: #ffffff;
}
.ttu{
  text-transform: uppercase;
  text-align: center;
}
.ttu a{
  color: white;
}
.f1{
  text-align: center;
}
.socials{
  /* padding-top: 10px;
  padding-bottom:  10px; */
  justify-content: center;
}
.f3{
    font-size: 30px;
}

.fb:hover{
    color: #4267B2;
}
.ig:hover{
   color: #DB4437;
}
.wa:hover{
    color: #25D366;
}
.gm:hover{
    color: #DB4437;
}
.ttu a:hover{
  color:#ff8c00;
}
.bottom
{
	bottom: 0;
	width: 100%;
}

@media screen and (min-width:600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex:1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }

}
