.body{
    font-family: poppins;
    margin: 0;
    display: grid;
    font-size: 14px;
}

footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #fff;
    background-color:#323232;
}
.footer > *{
    flex: 1 100%;
}
.footer-left{
    margin-left: 0.25em;
    margin-bottom: 2em;
    padding-top: 25px;


}
.footer-left img{
    width: 20%;
}
.h2>a{
    font-weight: 600;
    font-size: 17px;
    color: white;
}
.footer ul{
    list-style: none;
    padding-left: 0;
    display: contents;
}
.footer li{
    line-height: 2em;
    text-align: center;
}
.footer a{
    text-decoration: none;
}
.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-flow: row-wrap;

}
.footer-right > *{
    flex:1 50%;
}

.box{
    color:#ffffff;
}


.footer-left p{
    padding-right: 1%;
    color: #ffffff;
}

.listStylingNone{
  text-decoration: none;
list-style: none;
}
.ttu a{
  color: white;
}
.f1{
  text-align: center;
}

.f3{
    font-size: 30px;
}

.bottom
{
	bottom: 0;
	width: 100%;
}
.EventsBranches{
  padding-top: 25px;
}
.eventsHover:hover{
  color:#e88f0a;
}


@media screen and (min-width:600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex:1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }


}




@media only screen and (max-width:640px){

  .box a li{
      text-align: left;
  }
  .responsive-heading{
      text-align:left ;
  }
  .footer-right{
      padding:0px;
  }
}

.dimIcon:hover{
    opacity:0.5;
}
